<?xml version="1.0" encoding="utf-8"?>
<configuration>

  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TeatruDelir.Properties.Settings.teatrudelirConnectionString"
      connectionString="server=localhost;user id=root;password=root;database=teatrudelir"
      providerName="MySql.Data.MySqlClient" />

    <add name="DelirContext" connectionString="Network Address=127.0.0.1;database=teatrudelir;UID=root;Password=root;Persist Security Info=true" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory
        type="System.Data.Entity.Infrastructure.SqlConnectionFactory,
              EntityFramework" />
    <providers>
      <provider
          invariantName="MySql.Data.MySqlClient"
          type="MySql.Data.MySqlClient.MySqlProviderServices,
              MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>
</configuration>